.App {
  text-align: center;
}

.App-header {
  background-color: navy;
  min-height: 3em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}

#mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: 5px;

}

aside {
  border: 1px solid black;
  padding: 5px;
}